@tailwind base;
@tailwind components;
@tailwind utilities;

@import './custom/remixicon.css';
@import './custom/custom.css';
@import './custom/swiper-bundle.min.css';
@import './custom/styles.css';
@import './custom/animate.min.css';
@import './custom/output.css';


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#app {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

footer.content-info {
  margin-top: auto;
}

.feature_images:not(:last-child) {
  margin-right: 1rem;
}

/* .brand-slider {
  max-width: 400px;
  margin: 0 auto;
} */


/* Уменьшаем ширину брендов внутри слайдера */
/* .brand-slider .slick-slide {
  max-width: 40px;
  margin: 0 auto;
} */

/* .brand-slider {
  display: flex;
  flex-wrap: nowrap;
}

.slick-slide {
  flex-shrink: 0;
  margin-right: 10px;
}

.slick-prev, .slick-next {
  display: none;
} */
